:root {
  --neutral-warm: #A49E8D;
  --text-dark: #504136;
  --primary-teal: #689689;
  --bg-mint-light: #B2E6D4;
  --accent-mint: #83E8BA;

  --primary-color: var(--primary-teal);
  --secondary-color: var(--neutral-warm);
  --accent-color: var(--accent-mint);
  --text-main: var(--text-dark);
  --text-secondary: var(--neutral-warm);
  --bg-color: #ffffff;
  --bg-section: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--text-main);
    background-color: var(--bg-color);
}